<html>
    <head>
        <body>
            <form action = '/blog' method = 'post'>
                <input type= 'text' name= 'preg' placeholder= 'preg' required = 'Required'/>
                <input type= 'text' name= 'plas' placeholder= 'plas' required = 'Required'/>
                <input type= 'text' name= 'pres' placeholder= 'pres' required = 'Required'/>
                <input type= 'text' name= 'skin' placeholder= 'skin' required = 'Required'/>
                <input type= 'text' name= 'test' placeholder= 'test' required = 'Required'/>
                <input type= 'text' name= 'mass' placeholder= 'mass' required = 'Required'/>
                <input type= 'text' name= 'pedi' placeholder= 'pedi' required = 'Required'/>
                <input type= 'text' name= 'age' placeholder= 'age' required = 'Required'/>

                <button type = 'Submit'>predict</button>


            </form>
        </body>
    </head>
</html>